<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect from index.php to the root
    RewriteCond %{THE_REQUEST} ^[A-Z]+\s/index\.php [NC]
    RewriteRule ^ / [R=301,L]

    # add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    # add_header Content-Security-Policy "default-src 'self'; img-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'" always;
    # add_header X-Frame-Options "DENY" always;
    # add_header X-Content-Type-Options "nosniff" always;
    # add_header Referrer-Policy "no-referrer-when-downgrade" always;
    # add_header Permissions-Policy "geolocation=(), microphone=(), camera=()" always;

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
