//footer
.footer {
	background: linear-gradient(154.36deg, rgb(4, 25, 66) 21.07%, rgb(4, 21, 38) 81.669%);
	color: $white;
	.mob-line {
		@include sm-max {
			border-bottom: 1px solid rgb(255 255 255 / 8%);
		}
	}
	.footer--main,
	.footer--top {
		@include md-min {
			border-bottom: 1px solid rgb(255 255 255 / 8%);
		}
		.footer--nav-list {
			@include md-max {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	.footer-logo {
		max-width: 140px;
		height: 40px;
		img {
			object-fit: contain;
		}
	}
	ul li {
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		a {
			color: $white;
			&:hover {
				color: $main-blue;
			}
		}
		.head {
			@include md-min {
				flex: 0 0 85px;
			}
		}
	}
	.footer--socials {
		ul li:not(:last-child) {
			margin-right: 15px;
		}
		&.socials {
			a {
				border: 1px solid $white;
				svg {
					filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(204deg)
						brightness(104%) contrast(103%);
				}
				&:hover {
					background: unset;
					border: 1px solid rgb(0, 175, 255);
					svg {
						filter: unset;
					}
				}
			}
			.footer--email {
				font-size: 14px;
				line-height: 17px;
				a {
					border: unset;
					color: $white;
					&:hover {
						color: $main-blue;
					}
				}
			}
		}
	}

	.regulation ul,
	.list-phones {
		li {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	.regulation ul {
		li {
			font-size: 14px;
			line-height: 17px;
		}
	}
	.footer--bottom {
		a {
			color: $white;
			&:hover {
				color: $main-blue;
			}
		}
		.copyright {
			font-size: 14px;
			line-height: 17px;
		}
	}
	//select
	.select-wrap {
		position: absolute;
		width: max-content;
		margin-left: -10px;
		border: 1px solid transparent;
		z-index: 2;
		background: $main-blue;
		@include transition(0.3s ease-out 0s);
		.select2-container {
			background: unset;
			width: max-content !important;
			min-width: 200px;
			&.select2-container--open {
				.select2-selection {
					border: 1px solid $blue;
					border-bottom: unset;
					margin-left: 1px;
					margin-right: -1px;
					.select2-selection__arrow {
						b {
							&::after {
								transform: rotate(-90deg);
							}
						}
					}
				}
				&.select2-container--above {
					.select2-selection {
						border-bottom: 1px solid $blue;
						border-top: unset;
					}
				}
				&.select2-container--below {
					.select2-selection {
						.select2-selection__arrow {
							b {
								&::after {
									transform: rotate(90deg);
								}
							}
						}
					}
				}
			}
			.select2-selection {
				background: unset;
				border: unset;
				display: flex;
				align-items: center;
				padding: 10px 8px 10px 8px;
				.select2-selection__rendered {
					color: $white;
					padding: 0;
					padding-right: 10px;
				}
				.select2-selection__arrow {
					all: unset;
					b {
						all: unset;
						&::after {
							content: "";
							display: block;
							margin: 0;
							border: none;
							width: 16px;
							height: 16px;
							margin-left: 5px;
							position: relative;
							background: url(../img/icons/icons.svg#i-arrow-two-right-static) no-repeat center;
							background-size: cover;
							filter: brightness(0) saturate(100%) invert(100%) sepia(36%) saturate(2558%) hue-rotate(184deg)
								brightness(125%) contrast(96%);
							@include transition(0.3s ease-out 0s);
						}
					}
				}
			}
			.select2-dropdown {
				background: $main-blue;
				.select2-results {
					margin-right: 8px;
					padding: 10px 0;
					.select2-results__options {
						/* полоса прокрутки (скроллбар) */
						&::-webkit-scrollbar {
							width: 4px; /* ширина для вертикального скролла */
							height: 4px; /* высота для горизонтального скролла */
							background-color: #7f93ff;
							border-radius: 20px;
						}
						/* ползунок скроллбара */
						&::-webkit-scrollbar-thumb {
							background-color: $blue;
							border-radius: 20px;
						}
						.select2-results__option {
							background: unset;
							padding: 0 8px;
							color: $white;
							&:not(:last-child) {
								margin-bottom: 10px;
							}
						}
					}
				}
				&.select2-dropdown--below {
					border-radius: 0 0 5px 5px;
				}
				&.select2-dropdown--above {
					border-radius: 5px 5px 0 0;
				}
			}
		}
	}
}
