//header
.header {
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
	z-index: 1060;
	position: fixed;
	width: 100%;

	@include xs-max {
		.home-page & {
			box-shadow: unset;

			&.header--show {
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.06);
			}
		}
	}

	.nav-link {
		font-size: 14px;
		line-height: 17px;
		padding: 0;

		&:hover {
			color: $main-blue;
		}
	}

	//current-lang
	.current-lang {
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		color: $black;
		position: relative;
		cursor: pointer;
		text-transform: uppercase;
		transition: (0.3s ease-out 0s);

		.language {
			a {
				color: $black;
			}
		}

		svg {
			width: 10px;
			height: 10px;
			transition: (0.3s ease-out 0s);
		}

		&:hover {
			@media (min-width: 1200px) {
				color: $main-blue;
			}
		}

		&.active {
			color: $main-blue;
		}

		.submenu {
			background: #0097fa;
			box-shadow: 0px 12px 50px rgba(0, 0, 0, 0.1);
			display: block;
			top: 30px;
			right: -9.5px;
			opacity: 0;
			visibility: hidden;
			border-radius: 5px;
			z-index: 3;
			transition: (0.3s ease-out 0s);

			li {
				font-size: 14px;
				font-weight: 600;
				line-height: 20px;

				@media (max-width: 767px) {
					.header-top & {
						font-size: 12px;
						line-height: 15px;
					}
				}

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				a {
					color: $white;
					transition: (0.3s ease-out 0s);

					&:hover {
						color: $black;
						text-decoration: unset;
					}
				}
			}
		}

		&:hover {
			@media (min-width: 1200px) {
				.submenu {
					opacity: 1;
					visibility: visible;
				}

				svg {
					transform: rotate(-90deg);
					filter: brightness(0) saturate(100%) invert(54%) sepia(77%) saturate(3138%) hue-rotate(169deg) brightness(101%) contrast(106%);
				}
			}
		}

		&.active {
			.submenu {
				opacity: 1;
				visibility: visible;
			}

			svg {
				transform: rotate(-90deg);
				filter: brightness(0) saturate(100%) invert(54%) sepia(77%) saturate(3138%) hue-rotate(169deg) brightness(101%) contrast(106%);
			}
		}
	}

	.navbar-nav--other {
		.btn-default {
			@include lg-max {
				font-size: 14px;
				min-width: auto;
			}
		}
	}
}

//burger
.navbar-toggler {
	padding: 4px;

	.menu-burger {
		width: 16px;
		height: 16px;
		cursor: pointer;
		display: block;

		.lines {
			background: $black;
			position: absolute;
			width: 16px;
			height: 2px;
			top: 0px;
			left: 0;
			border-radius: 12px;

			@include md-max {
				background: $white;
			}

			&:before,
			&:after {
				content: "";
				background: $black;
				position: absolute;
				height: 2px;
				@include transition(all 0.3s ease 0s);
				border-radius: 12px;
				width: 100%;

				@include md-max {
					background: $white;
				}
			}

			&:before {
				top: 7px;
				left: 0;
				width: 10px;
			}

			&:after {
				top: 14px;
				left: 0;
				width: 14px;
			}
		}

		@include lg-min {
			&:hover {
				cursor: pointer;
			}
		}

		@include xl-min {
			display: none;
		}
	}

	&:not(.collapsed) {
		padding: 6px;

		.menu-burger {
			@include md-max {
				width: 12px;
				height: 12px;
			}

			.lines {
				background: transparent;

				&:before {
					@include transform(rotate(45deg));
					top: 5px;
					width: 12px;
				}

				&:after {
					@include transform(rotate(-45deg));
					top: 5px;
					width: 12px;
				}
			}
		}
	}
}

//header-main
.header-main {
	width: 100%;
	background: $white;
	@include transition(0.3s ease-out 0s);

	@include xs-max {
		.home-page & {
			background: transparent;

			&.header--show {
				background: $white;

				.navbar {
					background: $sky-blue;

					.navbar-inner {
						.navbar-brand {
							background: url(../img/logo-2.svg) no-repeat;
							background-size: contain;
						}
					}
				}
			}
		}
	}

	.navbar {
		@include md-max {
			background: $sky-blue;
			margin: 0 -16px;
			@include transition(0.3s ease-out 0s);
		}

		@include xs-max {
			.home-page & {
				background: transparent;
			}
		}

		.navbar-inner {
			gap: 20px;

			@include lg-max {
				gap: 10px;
			}

			@include md-max {
				gap: 16px;
				// .lock & {
				// 	padding-bottom: 0 !important;
				// }
			}

			.navbar-brand {
				max-width: 155px;
				width: 100%;
				height: 40px;
				background: url(../img/logo.svg) no-repeat;
				background-size: contain;

				@include md-max {
					max-width: 140px;
					background: url(../img/logo-2.svg) no-repeat;
					background-size: contain;
				}

				@include xs-max {
					.home-page & {
						background: url(../img/logo-3.svg) no-repeat;
						background-size: contain;
					}
				}

				img {
					// height: auto;
					object-fit: contain;
				}
			}

			.navbar-collapse {
				@include md-max {
					// margin: 0 -16px;
					// height: 100% !important;
					// transition: unset !important;
					height: 100vh !important;
					position: absolute;
					width: 100%;
					top: 70px;
					right: 0;
					transform: translateX(100%);
					@include transition(0.3s ease-out 0s);

					@include md-max {
						&.show {
							transform: translateX(0);
						}
					}
				}

				//header-main--desk
				.header-main--desk {
					gap: 20px;

					@include lg-max {
						gap: 10px;
					}

					@include lg-min {
						.nav-link {
							font-size: 14px;
							line-height: 21px;
							font-weight: 600;
							cursor: pointer;
							@include transition(0.3s ease-out 0s);
						}

						.list-inline-item--menu {
							.nav-link {

								&:hover,
								&.active {
									color: $main-blue;

									.nav-link--inner {

										span,
										span a {
											color: $main-blue;
											@include transition(0.3s ease-out 0s);
										}

										svg {
											stroke: $main-blue;
											transform: rotate(-90deg);
										}
									}
								}
							}
						}
					}

					@include xl-min {
						font-size: 16px;
					}
				}

				//header-main--mob
				.header-main--mob {
					@include md-max {
						.navbar-nav-wrapper {
							// position: relative;
							position: absolute;
							top: 0;
							right: 0;
							width: 100%;
							height: calc(100vh - 70px);
							overflow-y: auto;
						}
					}

					.navbar-nav {
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 100%;
						background: $white;
						overflow-x: hidden;
						overflow-y: auto;

						>ul {
							list-style: none;
							padding: 0;
							transition: transform 0.3s;
							background: #fafafa;
							position: absolute;
							left: 0;
							top: 0;
							height: 100%;
							width: 100%;

							li {
								border-bottom: 1px solid rgb(216, 219, 231);
								margin: 0 16px;

								&.language-item,
								&.navbar-nav--support {
									border-bottom: unset;
								}

								&.language-item {
									.current-lang {
										text-transform: unset;
										border: 1px solid rgb(216, 219, 231);
										border-radius: 8px;
										padding: 10px 12px;

										.submenu {
											display: none;
											background: unset;
											box-shadow: unset;

											li {
												border: unset;
												margin: 0;

												&:first-child,
												&:last-child {
													a {
														padding-bottom: 0;
													}
												}

												a {
													color: $black;
													width: 100%;
													padding: 10px 0;
												}
											}

											&.active {
												display: block;
											}
										}
									}
								}

								a {
									display: block;
									position: relative;
									padding: 16px 0;
									font-size: 14px;
									font-weight: 600;
									line-height: 20px;

									&:hover {
										color: $main-blue;
									}
								}

								&.nav-dropdown-open>ul {
									display: block;
								}
							}
						}

						.navbar-nav--other {
							position: relative;
							flex-direction: column-reverse;

							.header--head {
								font-size: 16px;
								font-weight: 700;
								line-height: 24px;
							}

							.header--socials {
								ul {
									display: flex;
									align-items: center;
									gap: 16px;
									padding: 16px 0;

									.list-inline-item {
										&:nth-child(n) {
											margin: 0;
											width: max-content;
											border-bottom: unset;

											.btn {
												width: 100%;
											}
										}
									}
								}
							}

							>li {
								margin: 0;
							}
						}
					}

					.navbar-nav--support {
						ul {
							li {
								border-bottom: unset;
							}
						}
					}
				}
			}
		}
	}
}